appdirs==1.4.3
certifi==2020.4.5.1
chardet==3.0.4
coverage==5.0.4
distlib==0.3.0
filelock==3.0.12
idna==2.9
importlib-metadata==1.6.0
mock==4.0.2
packaging==20.3
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
requests==2.23.0
responses==0.10.12
six==1.14.0
toml==0.10.0
tox==3.14.6
urllib3==1.25.8
virtualenv==20.0.16
zipp==3.1.0
